html {
  box-sizing: border-box;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 15px;
}
body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5 ,h6{
  font-weight: 400;
  margin: 0;
}

h1{
  font-size: 36px;
}
h2{
  font-size: 30px;
}
h4{
  font-size: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.a-underline{
  text-decoration: underline;
}
.a-white{
  color: white;
}
input{
  border: 1px solid #ccc;
  padding: 10px;
}

.button{
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: block;
}
.button:disabled{
  cursor: context-menu;
}
.button:hover:enabled{
  color: black;
  background: #ccc ;
}
.button-red{
  color: white;
  background: #f44336 ;
}
.button-black{
  color: white;
  background: black;
}
.button-large{
  padding: 12px 24px;
}
.width100{
  width: 100%;
}
.click{
  cursor: pointer;
}
.margin-right16{
  margin-right: 16px;
}